@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 1.125rem;
    text-decoration: none;
    color: inherit;
}

#root {
    padding: 0 10px;
}

@media (min-width: 640px) {
    #root {
        padding: 0 10%;
    }
}

#logo {
    font-size: 2.25rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

header {
    padding: 1rem 0 1rem 0;
}

section {
    margin: 0rem 0 1rem 0;
}

.section-title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.section-title a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.section-title a:hover {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.project-name {
    font-weight: 600;
}
.project-excerpt {
    color: #374151;
    line-height: 1.5;
}

@media (min-width: 640px) {
    .project-item {
        display: grid;
        grid-template-columns: 220px 1fr; /* fixed name column */
        column-gap: 1.5rem;
        align-items: start;
    }
    .project-name {
        font-weight: 600;
        word-break: break-word;
    }

    .project-excerpt {
        color: #374151;
        line-height: 1.5;
    }
}

a {
    color: #ff9500;
}

a:hover {
    color: #ffbb00;
    text-decoration: underline;
}


/* article related classes */
.article-h1 {
    font-size: 2.5rem;
    border-bottom: 0.25rem solid black;
    margin-bottom: 1rem;
}

.article-h2 {
    font-size: 2rem;
    border-bottom: 0.25rem solid black;
    margin-bottom: 1rem;
}

.article-h3 {
    font-size: 1.5rem;
    border-bottom: 0.25rem solid black;
    margin-bottom: 1rem;
}

.article-p {
    margin-bottom: 1rem;
}
.article-bold {
    font-weight: bold;
}

.article-italic {
    font-style: italic;
}

.article-code {
    background: #f8fafc;
    color: #0f172a;
    font-size: 0.95em;
    padding: 1rem 1.25rem;
    overflow-x: auto;
    border-radius: 8px;
    line-height: 1.6;
    border: 1px solid #e5e7eb;
}

.article-inline-code {
    background: #fff4e5;
    color: #9a4f00;
    font-size: 0.95em;
    padding: 0.15em 0.35em;
    border-radius: 4px;
}

